{% extends 'monapp/base.html' %}

{% block title %}Liste des Régions{% endblock %}

{% block content %}
<h2>Liste des Régions</h2>
<form method="post" action="{% url 'supprimer_region_selection' %}">
    {% csrf_token %}
    <ul class="liste">
      {% for r in regions %}
        <li class="region-item">
          <div class="region-left">
            <input type="checkbox" name="regions" value="{{ r.pk }}">
            <span class="region-name">{{ r.region }}</span>
            <span>(<strong>Pays</strong> : {{ r.pays.nom }})</span>
          </div>
          <div class="region-right">
              <span><strong>Ville</strong> : {{ r.ville }}</span><br>
            <span><strong>Population</strong> : {{ r.population }} habitants</span><br>
              <span><strong>Superficie</strong> : {{ r.superficie }} km²</span>
          </div>
        </li>
      {% empty %}
        <li>Aucune région enregistrée.</li>
      {% endfor %}
    </ul>
    <button type="submit" class="btn">Supprimer les régions sélectionnées</button>
</form>

<a class="btn" href="{% url 'ajouter_region' %}">Ajouter une région</a>
{% endblock %}
