{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{%block title%}Pays et Régions{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
</head>
<body>
    <header>
        <h1> Projet Django : Pays & Régions</h1>
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Accueil</a></li>
                <li><a href="{% url 'liste_pays' %}">Pays</a></li>
                <li><a href="{% url 'liste_regions' %}">Régions</a></li>
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>© 2025 - Maëlys Fomholtz</p>
    </footer>
</body>
</html>